div {
    padding: 0;
    margin: 0;
}

input[type=text]{
    display: block; 
    width: 400px; 
    height: 40px; 
    padding-left: 20px;
    border: 1px solid #122C24;
    border-radius: 5px;
    margin: 10px auto;
}

input[type=password]{
    display: block; 
    width: 400px; 
    height: 40px; 
    padding-left: 20px;
    border: 1px solid #122C24;
    border-radius: 5px;
    margin: 10px auto 0;
}

input[type=submit]:disabled{
    border: 1px solid #C4C4C4; 
    background-color: #C4C4C4; 
    color: #000000; 
}

input[type=submit]{
    display: block; 
    width: 300px; 
    height: 40px; 
    border: 1px solid #122C24; 
    border-radius: 5px; 
    background-color: #122C24; 
    color: #ffffff; 
    margin-bottom: 20px; 
    letter-spacing: 2px; 
    font-size: 18px;
    margin: 15px auto 10px;
}

#valEmailMsg {
    color: #FF0000; 
    font-size: 10px;
    text-align: left;
}

#valPassMsg {
    color: #FF0000; 
    font-size: 10px;
    text-align: left;
}

.orLine {
    text-align: center;
    width: 100%; 
    border-bottom: 1px solid #000000; 
    line-height: 0.1em; 
    margin: 0 0 20px; 
    padding: 20px 0 0 0; 
    color: #A0A0A0;
}